{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>第三方登录配置</legend>
    </fieldset>
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">QQ登录</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form layui-form-pane" lay-filter="form-login">

                    <div class="layui-form-item">
                        <label class="layui-form-label">开启状态</label>
                        <div class="layui-input-3">
                            <div class="layui-input-block">
                                <input type="radio" name="qq_open" value="true" title="开启">
                                <input type="radio" name="qq_open" value="false" title="关闭">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">appid</label>
                        <div class="layui-input-4">
                            <input type="text" lay-verify="required" name="qq_appid" placeholder="appid" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">appkey</label>
                        <div class="layui-input-4">
                            <input type="text" lay-verify="required" name="qq_appkey" placeholder="appkey" value="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">回调地址</label>
                        <div class="layui-input-4">
                            <input type="text" lay-verify="required" name="qq_callback" placeholder="回调地址" value="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">获取字段</label>
                        <div class="layui-input-4">
                            <textarea lay-verify="required" name="qq_scope" placeholder="获取字段" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">错误报告</label>
                        <div class="layui-input-3">
                            <div class="layui-input-block">
                                <input type="radio" name="qq_errorReport" value="true" title="开启">
                                <input type="radio" name="qq_errorReport" value="false" title="关闭">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                            <button type="reset" class="layui-btn layui-btn-primary">{:lang('reset')}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{include file="common/foot"/}
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form,layer = layui.layer,$= layui.jquery;
        form.val("form-login", {$info|raw})
        //提交监听
        form.on('submit(submit)', function (data) {
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("{:url('system/login')}",data.field,function(res){
                layer.close(loading);
                if(res.code > 0){
                    layer.msg(res.msg,{icon: 1, time: 1000},function(){
                        location.href = res.url;
                    });
                }else{
                    layer.msg(res.msg,{icon: 2, time: 1000});
                }
            });
        })
    })
</script>
</body>
</html>