body{
    padding: 0;
    margin: 0;
}
ul,li{list-style: none;padding: 0;margin: 0;}
a{
    outline:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
}
input{
 
	outline:none;  
	border:0px;
}
button{
    padding: 0;
    margin: 0;
    outline: none;
}
.wrap{
    width: 100%;
    height: auto;
    overflow: hidden;
}

li {
    list-style-type: none;
}


/* 顶部 */
.head{
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-shadow: 4px 1px 7px 0px rgba(216, 210, 210, 0.4);
    border-bottom: 1px solid #efefef;
    position: relative;
}

.head .headcon{
    width: 90%;
    height: 100%;
    padding-left: 17px;
}
.head .headcon > a {
    width: auto;
    height: auto;
    display: inline-block;
    color: #000;
}
.head .headcon > a > span{
    display: inline-block;
}
.head .headcon > span{
    width: 100px;
    height: 100%;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

/* 搜索框 */
.search{
    width: 100%;
    height: 35px;
    position: relative;
    padding: 5px 10px 5px 10px;
    background: rgba(195,194,199);
}
.search > span{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    left: 26%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
}
.search > input {
    width: 95%;
    height: 92%;
    display: inline-block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 8px;
}
.search .cancel{
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    right: 16px;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 15px;
}

/* 定位地区 */

.local_area{
    width: 100%;
    height: 60px;

}
.local_area > span{
    display: block;
    width: 30%;
    height: 30px;
    text-align: left;
    line-height: 30px;
    font-size: 14px;
    margin-left: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
    
}
.local_area > ul{
    width: 100%;
    height: auto;
}
.local_area > ul > li{
    margin-left:25px;
    width: 63px;
    height: 22px;
    line-height: 22px;
    color: rgba(210,187,57);
    text-align: center;
    border: 1px solid rgb(158, 157, 157);
    border-radius: 6px;
    font-size: 14px;
}


/* 定位地区结束 */

/* 热门地区 */

.hot_area{
    width: 100%;
    height: auto;
    margin-top: 17px;
}
.hot_area > span{
    display: block;
    width: 30%;
    height: 30px;
    line-height: 30px;
    margin-left: 18px;
    font-size: 14px;
    margin-bottom: 10px;
}
.hot_area > ul {
    width: 100%;
    height: auto;
    margin-left: 15px;
}

.hot_area > ul > li{
    margin-left:10px;
    width: 26%;
    height: 29px;
    line-height: 29px;
    text-align: center;
    border: 1px solid rgb(158, 157, 157);
    border-radius: 6px;
    float: left;
    font-size: 13px;

}


/* 热门地区结束 */


/* 选择地区 */

.area{
    width: 100%;
    height: auto;
    margin-top: 17px;
}
.area > p:nth-child(1){
    margin-top: 64px;
}
.area > p{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 18px;
    font-size: 12px;
    background-color: rgba(245,245,245);
}
.area ul {
    width: 100%;
    height: auto;
    display: block;
    margin-left: 5px;
    background: #fff;
}
.area ul li{
    width: 24%;
    height: auto;
    line-height: 40px;
    float: left;
    margin-left: 0px;
    text-align: center;
    border-right: 1px solid #eee;
    color: #a08c8ced;
    font-size: 14px;
}
.area ul li:nth-child(4n+4){
    border-right: none;
}


/* 选择地区结束 */

.cover{
    position: relative;
    margin-top:20px;
    margin-left: 0;

}
.cover > ul {
    width: 100%;
    height: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.cover > ul > li{
    width: 100%;
    height: 30px;
    margin-left: 20px;
    line-height: 30px;
    font-size: 13px;
    border-bottom: 1px solid #eee;
}
.cover > ul > li:last-child{
    border-bottom: none;
}
.search{
    position: relative;
}


/* 添加动画过程 */
.anima{
    width: 85% !important;
    transition: all .5s;
}
.animb{
   left: 21% !important;
   transition: all 0.3s
}



