<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable"> 
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>务团网</title>
    <link rel="stylesheet" href="/static/home/css/findcon.css" />
    <link rel="stylesheet" href="/static/home/css/iconfont_find.css" />
    <link rel="stylesheet" href="/static/home/css/iconfont.css" />
    <link rel="stylesheet" href="/static/home/css/iconfont_gwc.css" />
</head>
<body>

<div id="wrap">

    <header class="head">
        <a href="javascript:history.back(-1)"><span class="iconfont iconfanhui"></span></a>
        <div class="headcon"><strong>发现</strong></div>
    </header>
    <div class="con" style="margin-top:6rem">
        <div class="contit">{$info.title}</div>
        <div class="cons">
            {$info.content|raw}
        </div>

    </div>

    {include file="common/footer" /}
</div>

</body>
</html>