<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>务团网</title>
    <link rel="stylesheet" href="/static/home/css/vip.css">
    <link rel="stylesheet" href="/static/home/css/iconfont_xdqy.css" />
</head>
<body>
<div id="wrap">
    <header>
        <a href="javscript:history.back(-1)"><span class="iconfont iconfanhui"></span></a>
        <!-- <span class="iconfont iconzy"></span> -->
        <span class="ordertit"><strong>超级会员</strong></span>
    </header>
    <div class="mainbg">
        <img src="/static/home/images/vipbg.png" style="width:100%" alt="">
        <!-- 立即开通 -->
        <span class="vipOpen"><strong>立即开通</strong></span>
        <!-- 会员特权_vipPriv -->
        <div class="vipPriv">
            <div class="vipPriv_tit"><span>会员特权</span></div>
            <div class="vipPriv_ul">
                <ul>
                    <li>
                        <img src="/static/home/images/vip2.png" alt="">
                        <span>会员专属价</span>
                    </li>
                    <li>
                        <img src="/static/home/images/vip2.png" alt="">
                        <span>专享礼包</span>
                    </li>
                    <li>
                        <img src="/static/home/images/vip3.png" alt="">
                        <span>专享积分</span>
                    </li>
                </ul>
            </div>
            <!-- 免费领积分_viptitle3.png  vipInteg.png -->
            <div class="vipIntegral">
                <div class="tegral_img"><img src="/static/home/images/viptitle3.png" alt=""></div>
                <div class="tegraltxt">
                    <div class="tegraltxt_img"><img src="/static/home/images/vipInteg.png" alt=""></div>
                    <ul>
                        <li style="margin-top:27px">每月18日</li>
                        <li>领取2000积分</li>
                        <li>积分兑换相应礼品</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>